---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Parents from '../components/Parents.astro';
import Compass from '../components/Compass.astro';
import Guest from '../components/Guest.astro';

const { searchParams } = new URL(Astro.request.url);
const nombre = searchParams.get('nombre') ?? null;

---

<Layout title="Wedding-Web">
	<section id="inicio">
    <Hero />
    <Guest/>
    <Parents/>
    <Compass/>

  </section>

</Layout>
