---
import Layout from "../layouts/Layout.astro";

const nombre = Astro.url.searchParams.get("nombre") ?? "";
const pases = Astro.url.searchParams.get("pases") ?? 1;
const enlace = nombre ? `/invitation/${encodeURIComponent(nombre)}/${encodeURIComponent(pases)}` : "/invitation";


export const prerender = false

---


<Layout title="Wedding Invitation">
  <section class="text-center py-10 px-6 bg-background text-primary">
    <h2 class="text-3xl font-bold mb-4">Bienvenido</h2>
    <p class="text-xl mb-6">Gracias por acompañarnos en este día especial</p>

    <a
      href={enlace}
      class="bg-primary text-white py-2 px-4 rounded hover:bg-primary/90 transition"
    >
      Ver invitación personalizada
    </a>
  </section>
</Layout>
