<section class="flex flex-col items-center justify-center p-6 text-center ">
  <!-- Título principal -->
  <header class="px-4">
    <h1 class="text-4xl sm:text-5xl md:text-7xl font-baskerbille">
      JHONNY & ZARELA
    </h1>
    <p class="mt-4 text-base sm:text-lg md:text-xl">
      09 de Agosto - Salón Residencial FAP
    </p>
    <img
      src="/img/felizPareja.jpg"
      alt="pareja"
      class="mt-4 mx-auto max-w-full h-auto rounded-lg shadow-lg"
    />
  </header>

  <!-- Mensaje de bienvenida -->
  <div class="mt-8 max-w-3xl px-4">
    <h2 class="text-3xl sm:text-4xl mb-4 font-baskerbille">¡Nos Casamos!</h2>
    <p class="text-xl leading-relaxed">
     Uno solo puede ser vencido, pero dos pueden resistir. ¡La cuerda de tres hilos no se rompe facilmente! Dios, esposo y esposa.
    </p>
    <p class="mt-3 text-sm italic">(Eclesiastés 4:12)</p>
  </div>
</section>
