<section class="relative flex justify-center">
  <img
    src="/img/Avion-derecha.gif"
    alt="Avión volando"
    class="absolute right-0 top-4 w-20 z-1"
  />

  <div class="px-5 py-10 max-w-5xl w-full">
    <h1 class="text-2xl mb-8 text-center text-primary">
      CON LA BENDICIÓN DE DIOS Y DE NUESTROS PADRES
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Padres de la Novia -->
      <div>
        <h2 class="text-2xl mb-4 text-center text-primary">
          PADRES DE LA NOVIA
        </h2>
        <p class="text-center text-xl">Nombre del padre</p>
        <p class="text-center text-xl">Nombre de la madre</p>
      </div>

      <!-- Padres del Novio -->
      <div>
        <h2 class="text-2xl mb-4 text-center text-primary">
          PADRES DEL NOVIO
        </h2>
        <p class="text-center text-xl">Nombre del padre</p>
        <p class="text-center text-xl">Nombre de la madre</p>
      </div>
    </div>
  </div>
</section>
