<section class="relative flex justify-center">
  <div class="px-5 max-w-5xl w-full">
    <div class="flex flex-col items-center text-center gap-3">
      <h2 class="text-5xl sm:text-6xl mb-2 text-primary font-greatVibes">
        Nuestro viaje
      </h2>
      <p class="text-xl">
        Carrusel Aqui
      </p>


    </div>
  </div>
</section>
